/* Root element */
:root {
    --section-tagline-transform: uppercase;
}

/* Section tagline */
.section-tagline {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-bold);
    text-transform: var(--section-tagline-transform);
}
