/* Custom properties */
:root {
    --nav-item-font-family: 'font-family-title';
    --nav-item-font-weight: font-weight-bold;
    --nav-item-font-size: font-size-medium;
    --nav-item-letter-spacing: 4%;
    --nav-item-display: inline-block;
    --nav-item-margin: 0 0 3rem 0;
    --nav-item-link-hover: color-primary;
}

/* Navbar menu */
.navbar-menu {
    float: right;
}

/* Navigation styling */
.nav {
    margin: 0; /* Set the margin to 0 */
    padding: 0; /* Set padding to 0 */
    text-align: center; /* Center align the text */
}

/* Nav items */
.nav-item {
    font-family: var(--nav-item-font-family);
    font-weight: var(--nav-item-font-weight);
    font-size: var(--nav-item-font-size);
    letter-spacing: var(--nav-item-letter-spacing);
    display: var(--nav-item-display);
    margin: var(--nav-item-margin);
}

/* Nav links */
.nav-link {
    display: block;
    padding: calc(var(--root-font-size) / 2) var(--root-font-size); /* Set padding to half of root element for top and bottom, equal for left and right */
}

.nav-link:hover {
    color: var(--nav-item-link-hover); /* Set hover color */
}
