/* Body */
body {
    color: #161616;
}

/* All anchor elements */
a {
    color: #161616;
}

/* Visually hidden elements */
.visually-hidden {
    display: none;
}

/* Elements with the class card-category */
.card-category {
    color: #D73953;
}

/* Elements with the class section-tagline */
.section-tagline {
    color: #D73953;
}
