/* Custom properties for button */
:root {
    --button-display: inline-block;
    --button-padding: 1.5rem 3rem;
    --button-border: 0.2rem solid var(--color-primary);
    --button-color: color-black;
    --button-text-decoration: none;
    --button-font-size: font-size-large;
    --button-hover-color: color-white;
    --button-hover-text-decoration: none;
    --button-hover-background: color-primary;
}

/* Button class styling */
.button {
    display: var(--button-display); /* Set display to inline-block */
    padding: var(--button-padding); /* Set padding */
    border: var(--button-border); /* Set border */
    font-size: var(--button-font-size); /* Set font size */
    color: var(--button-color); /* Set foreground color */
    text-decoration: var(--button-text-decoration); /* Set text-decoration */
}

/* Button hover state */
.button:hover {
    color: var(--button-hover-color); /* Set foreground color on hover */
    text-decoration: var(--button-hover-text-decoration); /* Set text-decoration on hover */
    background-color: var(--button-hover-background); /* Set background color on hover */
}

/* Dark theme button customization */
[data-section-theme="dark"] {
    --button-color: color-white; /* Override button color to white in dark theme */
}
