/* Root element */
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
}

/* Body */
body {
    color: var(--text-color);
}

/* All anchor elements */
a {
    color: var(--text-color);
}

/* Visually hidden elements */
.visually-hidden {
    display: none;
}

/* Elements with the class card-category */
.card-category {
    color: var(--color-primary);
}

/* Elements with the class section-tagline */
.section-tagline {
    color: var(--color-primary);
}
